.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

input {
  width: 190px;
  padding: 10px;
  font-size: 13px;
}

button {
  width: 190px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  background-color: aqua;
  border: none;
}
button:hover {
  background-color: aquamarine;
}
